

* {
  margin: 0;
  border: 0;
  padding: 0;
}

/*Mapa*/

.mapaContact {
  height: 450px;
}


.articleContact {
   background:  linear-gradient(90deg,#da1212 0,#f26060 50%,#da1212);
}
.franjaContact {

    padding: 20px;

}

.franjaContact h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}


main {
    width: 100%;
    margin-top: 133px;
  }

/*Formulario y contacto*/

.tituloFormContact {
  border-bottom: solid;
  border-width: 2px;
  border-color: da1212;

}

.botonForm button {
  width: 25%;
}
 
/*Iconos*/

.listaIconos a {
  text-decoration: none;
  color: black;
}

.listaIconos a:hover {
  color: #da1212;
}


@media (max-width:434px) {
  
  main {
    margin-top: 124px !important;
  }
}


@media (max-width: 767px){

    main {
      margin-top: 134px;
    }
    
    .franjaContact {
    padding: 15px;
    }

    .contenedorContactos {
      margin-bottom: 140px;
      width: 100% !important;
    }

    .contenedorImput {

      width: 100% !important;
      
    }

    #contactForm input {
      padding: 11px;
      margin-bottom: 10px;
    }

    .botonForm {
      text-align: center;
      margin-top: 20px;
    }

    .botonForm button {
      width: 40%;
    }


}  
@media (width:768px)  {
  main {
    margin-top: 96px !important;
  }

}

@media (min-width:769px) and (max-width:990px) {
  main {
    margin-top: 125px
  }
}

@media (min-width:991px) and (max-width:1056px) {

  main {
    margin-top: 127px;
  }

  .header1 a {
    font-size: 14px;
  }


  .mapaContact {
    height: 500px;
  }

}


@media (min-width: 1057px) {

  .contenedorMain {
    margin-top: 135px;
  }


  .mapaContact {
    height: 500px;
  }
 
}

@media (min-width: 1920px) {

}
