.container-fluid.joinOurTeam {
    width: 75%;
}

.nav-pills li a:hover {
    background-color: #da1212;
}

.careers {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}

.careers.joinOurTalent {
    fill: #da1212;
}