
/*Precarga*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff; /* Fondo del preloader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader img {
  width: 100px; /* Ajusta el tamaño de la imagen */
}

/* Estilo adicional para ocultar el preloader cuando la página está lista */
.loaded .preloader {
  display: none;
}

/*Loader*/

/* First Header */

#top-header {
  background-color: #da1212;
  height: 15vh;
  width: 100%;
  z-index: 1001;
}

/*Header*/
/*Header 1*/
.header1 a:hover {
  background-color: #121212;
}

/*Background navbar */

.navbarPropio {
  background-color: #121212;
}


.dropdown-menu {
  background-color: #121212;
}

/*Iconos header1*/
.bi:hover {
  color: black; /* Change this to the desired color on hover */
  cursor: pointer; /* Optional: Change cursor to pointer on hover */
}

.navbarPropio {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1; /* Opacidad inicial */
  transition: opacity 0.3s; /* Transición suave de opacidad */
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

.navbarPropio.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8; /* Opacidad inicial */
  transition: opacity 0.3s; /* Transición suave de opacidad */
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

/* Agrega esta regla para el primer article */
.navbarPropio > article {
  position: relative;
  z-index: 999; /* Un valor menor que el z-index del navbar para que esté detrás */
}


/*Fuentes de navbar */
.navbar-nav a:hover {
  color: #da1212; /* Cambiar el color al hacer hover */
}

.navbar-nav a:focus,
.navbar-nav a:active {
    outline: none; /* Elimina el contorno de foco predeterminado */
    background-color: transparent; /* Establece el fondo en transparente al seleccionar */
}

.navbarPropio a {
  font-family: 'monserrat', sans-serif;
  font-size: 20px;
  color: white;
}

.dropdown-menu a {
  font-family: 'monserrat', sans-serif;
  font-size: 15px;
  color: white;
}

/*Carousel*/


.carousel2 {
  position: relative;
  top: 0;
  left: 0;
  right: 0; /* Establece el ancho completo */
  bottom: 0; /* Establece la altura completa */
  z-index: 0;
}

.carousel2 img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del carousel */
  height: 100%; /* Asegura que la imagen ocupe todo el alto del carousel */
  object-fit: cover; /* Ajusta la imagen para llenar el espacio sin distorsionarla */
  color: rgba(0, 0, 0, 0.5);
}

.carouselBotones button {
  border-radius: 25%;
  height: 5px !important;
}

.carouselBotones button.active {
  color: rgb(26, 54, 54);
}

/*.carousel-caption {
  position: absolute;
  top: 58% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  color: #fff; /* Opcional: Cambiar el color del texto
}
  
  */

/*.textoCarousel h5 {
  font-size: 70px;
  font-weight: bolder;
  text-shadow: 3px 3px 5px #121212; /* Agregar sombra de texto para resaltar 
  
  color: #fff; 
}
  */
  /* Cambiar el color del texto a blanco para que sea legible en el fondo negro */
/*Quienes somos */
.quienesSomos h2 {
  text-align: start;
  border-bottom: solid;
  border-color: #d04143;
  color: black;
  font-weight: normal;
  font-family: 'monserrat', sans-serif;
}

.quienesSomos p {
  font-weight: normal;
  text-align: justify;
  font-size: 20px;
  color: black;
}

.aparecer {
  opacity: 0; /* Configura la opacidad inicial en 0 (invisible) */
  animation: aparecer 3.5s ease-out forwards; /* Aplica una animación llamada "aparecer" durante 1 segundo */
}

@keyframes aparecer {
  to {
    opacity: 1; /* Cuando la animación se completa, establece la opacidad en 1 (visible) */
    transform: translateY(0); /* Restablece la posición a su valor original */
  }
}

/*Pestañas*/
.cardAboutUs {
  border: none !important;
}

.botonesPestanas button {
  font-weight: bolder;
  color: white;
  background-color: #da1212;
}

/* Estilo para los botones de pestaña activos dentro del contenedor .botonesPestanas */
.botonesPestanas .nav-link.active {
  background-color: black !important;
  color: white; /* Cambia el color del texto si es necesario */
}

.contenidoPestanas {
  padding: 50px 0;
  align-items: center;
}

.contenidoPestanas h3 {
  font-weight:normal;
  border-bottom: solid;
  border-color: #d04143;
}

.mapa {
  border-color: #da1212;
}

.descripcionPestanas p{
  font-size: 20px;
  font-weight: lighter;
}

.card-header {
  background-color: #da1212 !important;
}

/*Acordeon informacion*/
.accordion-item img {
  height: 50px !important;
}

.accordion-button.collapsed {
  color: white;
}

.accorHeader h4 {
  color: white !important;
}

/*Patrocinadores */

.patrocinadores {
  padding: 50px 0;
  background-color: #f1f1f1;
  font-family: 'monserrat', sans-serif;
}

.enlacePatrocinador {
  text-decoration: none !important;
  color: #121212;
}

.enlacePatrocinador:hover {
  color: #da1212;
}

/*Contratacion*/

.buscamosTecnicos {
  color: #da1212;
}

/*Media queries*/
/*Sm screen*/
@media (max-width: 405px) {
  .botonesPestanas button {
    font-size: 10px !important;
    padding: 9px !important;
  }
}

/*XS-Screen*/

@media (max-width: 769px) {
  .contenedorMainIndex {
    margin-top: 142px !important;
  }
  /*NavbarPropio*/
  .navbarPropio img {
    height: 40px !important;
  }

  .navbarPropio a {
    font-size: 15px;
  }

  .quienesSomos p {
    font-size: 19px;
    text-align: justify;
  }


  /*Carousel responsive*/

  .carousel-control-next,
  .carousel-control-prev {
    top: 10% !important;
  }

  /*
  .carousel-caption {
    position: absolute;
    top: 58% !important;
    left: 49% !important;
    transform: translate(-50%, -50%) !important;
    color: #fff; /* Opcional: Cambiar el color del texto
    
  }
    */

  .textoCarousel h5 {
    font-size: 45px !important;
    font-weight: bolder;
    text-shadow: 3px 3px 5px #121212; /* Agregar sombra de texto para resaltar */
    color: #fff; /* Cambiar el color del texto a blanco para que sea legible en el fondo negro */
  }

  /*Sector quienes somos */
  /*Sector pestañas*/
  .botonesPestanas button {
    font-size: 14px;
    padding: 11px;
  }

  .contenidoPestanas p {
    text-align: justify;
    font-size: 17px;

  }

  .contenidoContrata {
    text-align: center;
    align-items: center;
  }

  .botonContacto {
    margin-bottom: 15px;
  }

 
}

/*Screen M */
@media (min-width: 992px) {
  .carousel2 img {
    height: 700px;
    object-fit:fill !important;
  }

  .boxPatrocinadores {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
  }

  .contenedorTecnicos {
    margin-top: -20px; 
  }
}

/*Screen XL*/

@media (min-width: 1200px) {

  .carousel2 img {
    height: 950px;
    object-fit:fill !important;
  }

  /*Acordeon*/
  .articlePestanas {
    width: 50%;
  }
  .articleAccordion {
    width: 50%;
  }

  .accordionPropio {
    margin-top: 10px;
  }


}

/* footer */
#a-li {
  color: white;
  
}
footer ul {
  list-style-type: none;
}


footer li:not(:last-child):after {
  content: "|";
  margin: 0 5px;
  color: #ffffff; /* color de la barra */
}

.linksFooter a{
  text-decoration: none;
  color: #f1f1f1;
  font-weight:700;
  margin-right: 5px;
  margin-left: 5px;
}

.linksFooter a:hover{
  color: #da1212;
}

.iconosFooter:hover {
  color: #da1212;
}


.transition-fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.social-icon:hover {
  fill: #da1212;
}